body{
    width: 100%;
    position: relative;
}

.map .subai{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 700px;
    left: 550px;
}

.map .pitelan{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 900px;
    left: 650px;
}

.map .hanpuxia{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 670px;
    left: 1000px;
}

.map .duluoke{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 630px;
    left: 1050px;
}

.map .dabai{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 595px;
    left: 290px;
}

.map .changbai{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 610px;
    left: 350px;
}

.map .dabai{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 700px;
    left: 350px;
}

.map .taihu{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 680px;
    left: 560px;
}

.map .bamei{
    cursor: pointer;
    border: none;
    position: absolute;
    top: 640px;
    left: 530px;
}

.map .tip{
    position: absolute;
    padding: 0 14px;
    height: 35px;
    line-height: 35px;
    background: blue;
    color: #fff;
    left: 500px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    margin: 0 auto;
    border-radius: 5px;
    opacity: 0;
}

.tip em{
    font-style: normal;
}

.tip span{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 7px solid transparent;
    border-top-color: blue;
    left:50%;
    margin-left: -3px;
    bottom: -14px;
}